@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

.App {
  background: linear-gradient(to bottom right, rgba(23,29,68,255), #000);
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro";
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  font-size: 21px;
  padding: 5px 20px;
  border: 0;
  background-color: rgb(3, 32, 160);
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}
.btn input:hover {
  background-color: #2386c8;
}
.btn input:focus {
  outline: none;
}